* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mr-5 {
  margin-right: 10px;
}

.nav-link {
  font-size: 14pt;
  color: #748bad;
}

.dropdown-menu {
  min-width: max-content;
  border: none;
  background: #f8f9fa;
}

.navbar-brand {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}